<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="POST">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="user_id" required>
      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
      <input type="submit"></input>
    </form>
  </body>
</html>
